.home {
  padding: 0 2rem;
  width: 100%;
  box-sizing: border-box;
}

.genre {
  margin-top: 60px;
  padding: 0 2rem;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}


/* All Category components use styles in Home.css */